
<div class="jumbotron">
    <div class="container">
        <h1>About CoinConsoler</h1>
        <p>Ever thought about investing in BitCoin?</p>
        <p>Well now you can just tell us how much you wanna put in and we'll let you know how much money you would have wasted though periodic notifications!</p>
    </div>
</div>

